{% extends 'indice/index.html' %}

{% block header_index %}
{% endblock header_index %}


{% block pruebaTemplate %}

    <form action={% url 'busqueda_curso' %} method="post">
        {% csrf_token %}
        {% comment %} {% csrf_token %}
        Curso: <input type="text" name="curso">
        Camada: <input type="number" name="camada"> {% endcomment %}

        <table>
            {{formulario.as_table}}
        </table>

        <input type="submit" placeholder="Enviar">

    </form>

{% endblock pruebaTemplate %}